# Introduction to Python- Live Coding

**December 11, 2023**

- `Shift + Enter`: Run the current cell and move to the next cell.
- `Ctrl + Enter`: Run the current cell and stay on the same cell.
- `Alt + Enter`: Run the current cell and insert a new cell below.
- Google Colab offers auto-completion suggestions to assist while writing code. Press `Tab` for suggestions.

- Every piece of data in Python has a *type*
- Data types allow us to know how values are stored by the computer and what operations we can perform on the data

`int` or integer: whole numbers that we can use for arithmetic

`float` or floating point: decimal numbers

`string`: text

`bool`: true/false values

- statement is a command, smallest units of code
- expression is a statement that produces a single value

In [13]:
5 + 6

11

In [17]:
5 / 2

2.5

In [18]:
10 // 3 # Integer division (always round down)

3

In [19]:
10 % 3 # Modulo or remainder

1

In [20]:
10 ** 3 # Exponent

1000

| Operator | Description |
| --- | --- |
| `>` | Greater than |
| `>=` | Greater than or equal to |
| `<` | Less than |
| `<=` | Less than or equal to |
| `==` | Equal to |
| `!=` | Not equal to |

In [21]:
50 > 25

True

In [22]:
-15 >= -14.99

False

In [23]:
20 == 20

True

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |

In [26]:
(30 - 10) < (100 ** 2)

True

In [24]:
30 - 10

20

In [25]:
100 ** 2

10000

- Variable is a name that refers to a value, make it easy to keep track of data
- Variable names can include letters, digits, and underscores; cannot start with a digit; case sensitive

In [28]:
month = 12
day = 11
day_of_week = 'Monday'

In [ ]:
12month = 12

In [29]:
Month = 'December'

In [30]:
print(month)

12

In [31]:
print(Month)

December

In [36]:
degrees_celsius = 25

In [41]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32
degrees_fahrenheit

32.0

In [4]:
degrees_celsius = 0

In [2]:
a = "Kaylie"
b = a

In [3]:
b

'Kaylie'

In [46]:
a = 2

In [48]:
b = a

In [49]:
b

2

In [5]:
degrees_celsius = 0

In [6]:
degrees_celsius = degrees_celsius + 10

In [8]:
degrees_celsius += 10 # Augmented assignment

In [10]:
print(degrees_celsius)

20

In [11]:
degrees_celsius -= 10

In [12]:
print(degrees_celsius)

10

- Syntax error: program contains code that isn't valid Python

In [13]:
12 = x

SyntaxError: ignored

In [14]:
25 -

SyntaxError: ignored

- Name error: try to use a variable that hasn't been assigned yet

In [15]:
my_variable + 1

NameError: ignored

In [16]:
# This is a comment

student1_grade = 90
student2_grade = 50
student3_grade = 74
average_grade = (student1_grade + student2_grade + student3_grade) / 3
average_grade # These lines of code will produce a value

71.33333333333333

## Which code is easier to read and follow?

---



---



---



1.  
```python
studentone_grade=90
StudentGrade2=50
stu3gr=74
avggrade=(studentone_grade+StudentGrade2+stut3gr)/3
```

2.  
```python
student1_grade = 90
student2_grade = 50
student3_grade = 74
average_grade = ((student1_grade
                  + student2_grade
                  + student3_grade)
                 / 3)
```