# Heading 1

## Heading 2

### Heading 3

**Bold text**
_Italics text_

In [1]:
!python --version

Python 3.11.5

In [3]:
5 + 6

11

In [4]:
5 / 2

2.5

In [5]:
10 // 3 # integer division, always rounds down

3

In [6]:
10 % 3 # modulo or remainder

1

In [7]:
10 / 3

3.3333333333333335

In [8]:
10 ** 3 # exponentiation

1000

In [9]:
# comparison operators produce Boolean values (i.e., True/False)

50 > 25

True

In [12]:
-15 >= -14.99

False

In [11]:
20 == 20 # notice that there are two ==

True

## Operator precedence

Arithmetic and comparison operators are evaluated in the following order. We can enclose operations in parentheses to override the order of precedence -- operations in parentheses are evaluated before the rest of the expression.

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |

In [27]:
degrees_celsius = 25
degrees_celsius

25

In [15]:
# variable naming:
# letters, digits, and underscores 
# BUT you cannot start with a digit
# case sensitive e.g., `variable` would be different from `Variable`

In [33]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32
degrees_fahrenheit

32.0

In [34]:
degrees_celsius = 0
degrees_fahrenheit

32.0

In [35]:
a = 1
b = a
b

1

In [36]:
print(id(a))
print(id(b))

4383448408
4383448408

In [37]:
a = 2
a

2

In [38]:
b

1

In [39]:
print(id(a))
print(id(b))

4383448440
4383448408

In [40]:
degrees_celsius

0

In [43]:
degrees_celsius = degrees_celsius + 10
degrees_celsius

30

In [44]:
degrees_celsius += 10  # augmented assignment
degrees_celsius

40

In [45]:
degrees_celsius -= 10 # this is with subtraction, can also use *, /, **, //, %
degrees_celsius

30

In [46]:
# syntax errors, program has code that isn't valid Python

12 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2449346426.py, line 3)

In [47]:
25 -

SyntaxError: invalid syntax (934255472.py, line 1)

In [48]:
# name error, try to use a variable that hasn't been assigned yet

my_variable + 1

NameError: name 'my_variable' is not defined

In [49]:
# This is a comment, it is not evaluated when we run our code

In [50]:
kaylie = 12 # day of birth

In [ ]:
# Readability

# white space- a space on either side of an operand helps with readability
# comments- comments can communicate the gist of a program or explain complicated sections of code
# clear and consistent variable names- reduces the likelihood of referencing the wrong variable

## Which code is easier to read and follow?

1.  
```python
studentone_grade=90
StudentGrade2=50
stu3gr=74
avggrade=(studentone_grade+StudentGrade2+stut3gr)/3
```

2.  
```python
student1_grade = 90
student2_grade = 50
student3_grade = 74
average_grade = ((student1_grade
                  + student2_grade
                  + student3_grade)
                 / 3)
```

In [51]:
print(42)

42

In [53]:
print("This is Day 1 of Python!")

This is Day 1 of Python!

In [54]:
type(42)

int

In [55]:
type("This is Day 1 of Python!")

str

In [56]:
abs(-43)

43

In [57]:
round(2/3)

1

In [58]:
int(3.99)

3

In [59]:
float(7)

7.0

In [60]:
print(type(round(2 * 1.5)))

<class 'int'>

In [64]:
print(type(round(2 * 1.5)))

<class 'int'>

In [65]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [84]:
def c_to_f(degrees_c):
    '''Converts c to f'''
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [85]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Converts c to f

In [72]:
c_to_f(50)

122.0

In [71]:
freezing_f = c_to_f(0)
freezing_f

32.0

In [76]:
def divide(dividend, divisor):
    try:
        output = dividend / divisor
    except ZeroDivisionError as e:
        print("Error: Division by zero")
        output = None
    return output

In [74]:
divide(0, 2)

0.0

In [77]:
divide(2, 0)

Error: Division by zero

In [79]:
def calc_sale_tax(price, tax_rate=0.13):
    tax_amount = price * tax_rate
    return tax_amount

In [81]:
calc_sale_tax(5)

0.65

In [82]:
calc_sale_tax(5, 0.08)

0.4

In [83]:
ontario_tax = 0.13