**Keyboard Shortcuts:**
   - Utilize keyboard shortcuts for faster execution:
     - `Shift + Enter`: Run the current cell and move to the next cell.
     - `Ctrl + Enter`: Run the current cell and stay on the same cell.
     - `Alt + Enter`: Run the current cell and insert a new cell below.


**Code Assistance and Auto-completion:**
   - The Jupyter extension in VS Code offers code assistance and auto-completion. Press `Tab` for suggestions while writing code.

In [5]:
def calc_sales_tax(price, tax_rate=0.13):
    amount_tax = price * tax_rate
    return amount_tax

In [6]:
print(calc_sales_tax(5))

0.65

In [7]:
5 * 0.13

0.65

In [8]:
print(calc_sales_tax(5, 0.08))

0.4

In [9]:
5 * 0.08

0.4

In [10]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax = price * tax_rate
    tip = price * tip_rate
    return price + tax + tip

In [11]:
calc_total_bill(100)

128.0

In [13]:
calc_total_bill(100, tip_rate=0.22)

135.0

In [14]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    '''Calculate the total bill with tax and tip'''
    tax = price * tax_rate
    tip = price * tip_rate
    return price + tax + tip

In [24]:
tax_rate

NameError: name 'tax_rate' is not defined

In [15]:
help(calc_total_bill)

Help on function calc_total_bill in module __main__:

calc_total_bill(price, tax_rate=0.13, tip_rate=0.15)
    Calculate the total bill with tax and tip

In [16]:
price

NameError: name 'price' is not defined

In [19]:
price = 13

In [22]:
price + 15

28

In [23]:
calc_total_bill(price)

16.64

In [25]:
"This is a string"

'This is a string'

In [26]:
'This is also a string'

'This is also a string'

In [28]:
"Let's see if this works"

"Let's see if this works"

In [29]:
"these quotes do not match'

SyntaxError: unterminated string literal (detected at line 1) (1479919974.py, line 1)

In [31]:
print(1+2) # python code

3

In [30]:
'''
I am a multiline string
I'm very useful for documenting functions
and for storing longer texts

And you don't have to worry about apostrophes or "quote"s!
'''

'\nI am a multiline string\nI\'m very useful for documenting functions\nand for storing longer texts\n\nAnd you don\'t have to worry about apostrophes or "quote"s!\n'

### Escape sequences
|Escape sequence|Description|
|-----|-----|
|\\'|Single quote|
|\\"|Double quote|
|\\\\|Backslash|
|\t|Tab|
|\n|Newline|
|\r|Carriage return|

In [35]:
print('\\This string won\'t result in an \terror thanks to the escape sequence')

\This string won't result in an 	error thanks to the escape sequence

In [36]:
2 + 2

4

In [37]:
'hello' + ' ' + 'world'

'hello world'

In [39]:
2 * 3

6

In [40]:
'ha' * 3

'hahaha'

In [41]:
'The year is' + 2020

TypeError: can only concatenate str (not "int") to str

In [42]:
'apple' == 'Apple'

False

In [43]:
'apple' != 'Apple'

True

In [45]:
'20' == '20'

True

In [46]:
first_name = 'Kaylie'
last_name = 'Lau'


# strings in Python are zero-indexed, the first letter is at index 0, NOT 1
# slice ranges do not include the character at the ending index position
print('Initials are', first_name[0], last_name[0])

Initials are K L

In [50]:
first_name[:4]

'Kayl'

In [49]:
last_name[1:]

'au'

In [51]:
print(first_name[:4], last_name[1:])

Kayl au

In [53]:
phone_number = '+1 555-123-4567'

phone_number[6:]

'-123-4567'

In [60]:
phone_number[:]

'+1 555-123-4567'

In [61]:
job_qualifications = 'The successful applicant will be proficient in R, Python, SQL, statistics, and data visualization.'

In [62]:
'R' in job_qualifications

True

In [64]:
'r' in job_qualifications

True

In [65]:
int('17')

17

In [66]:
int('2000')

2000

In [67]:
int('17.4')

ValueError: invalid literal for int() with base 10: '17.4'

In [68]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

In [69]:
float('892')

892.0

In [70]:
float('you')

ValueError: could not convert string to float: 'you'

In [71]:
str(37.5)

'37.5'

In [72]:
str(20)

'20'

In [73]:
'20' + str(37.5)

'2037.5'

In [74]:
print(1, 'fish', 2.0,'fish')

1 fish 2.0 fish

In [76]:
len('So ')

3

In [77]:
'I am not yelling'.upper()

'I AM NOT YELLING'

In [86]:
'this string is unusual'.capitalize().count('T')

1

In [87]:
'file_name.csv'.endswith('.csv')

True

In [88]:
'long file name with spaces.csv'.replace(' ', '_')

'long_file_name_with_spaces.csv'

In [89]:
# format strings

# option 1
'Kaylie Lau\'s initials are {}. {}.'.format('Kaylie'[0], 'Lau'[0])

"Kaylie Lau's initials are K. L."

In [91]:
# option 2
f'Kaylie Lau\'s initals are {"Kaylie"[0]}. {"Lau"[0]}.'

"Kaylie Lau's initals are K. L."

In [92]:
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

In [96]:
age = input('How old are you? ')
age

'1000'

In [95]:
age_next_bday = int(age) + 1
print(f'Next birthday you will be {age_next_bday}')

Next birthday you will be 10001

## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

In [97]:
# not

not True

False

In [102]:
not 3 == 3

False

## `and`

Evaluates to `True` if both statements are true.

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|

In [101]:
7 == 7.0 and 32 > 9

True

In [103]:
'Python' == 'python' and True

False

In [104]:
is_summer = True
is_sunny = True
is_summer and is_sunny

True

**Note that the behavior of the `and` operator returns the first falsy value encountered or the last truthy value if all operands are `true` based on the conditions provided.**

In [112]:
is_winter = (3 > 2)  # boolean value True
is_cloudy = True # boolean value True
is_winter and is_cloudy

True

In [113]:
is_cloudy and is_winter

True

## To avoid confusion and ensure consistent behaviour, it's recommended to use boolean values (`True` or `False`) explicitly when working with logical operations to ensure predictable outcomes based on boolean logic.

## `or`

Evaluates to `True` if just one of the statements is true.

|X|Y|X `or` Y|
|-|-|-|
|True|True|True|
|False|True|True|
|True|False|True|
|False|False|False|

In [114]:
'Python' == 'python' or True

True

In [115]:
'Python' == 'python'

False

**The behavior of the `or` operator returns the first truthy value encountered or the last falsy value if all operands are `False` based on the conditions provided.**

## Operator precedence

Boolean operators are evaluated after arithmetic and comparison operators.

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |
| 6 | `not` | Not |
| 7 | `and` | And |
| 8 | `or` | Or|

In [116]:
not (7 % 2 == 1) or False

False

In [119]:
not (7 % 2 == 1) or False

False

In [124]:
year = 2024

if year >= 2000:
    print('We are in the 21st century.')
elif year >= 1900:
    print('We are in the 20th century.')
else:
    print('We are not in the 21st or 20th century.')

We are in the 21st century.

In [129]:
day_of_week = 'potato'

if day_of_week == 'Saturday' or day_of_week == 'Sunday':
    print('Weekend')
else:
    print('Weekday')

Weekday

In [131]:
vowels = ['a', 'e', 'i', 'o', 'u']
print(f'{vowels} are vowels.')

['a', 'e', 'i', 'o', 'u'] are vowels.

In [132]:
#conventional way of defining an empty list
empty_list = []
type(empty_list)

list

In [133]:
# this also works
empty_list2 = list()
type(empty_list2)

list

In [134]:
scores = [90, 80, 82, 91, 80]
grades = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
summary_functions = [len, sum, max, min]

In [135]:
myster_solvers = [
    ['Sherlock', 'Watson'],
    ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
    'Nancy Drew'
]

In [136]:
grades[0]

'K'

In [137]:
grades[6:9]

[6, 7, 8]

In [138]:
grades[-4]

9

In [139]:
grades[13]

IndexError: list index out of range