In [1]:
vowels = ['a', 'e', 'i', 'o', 'u']
empty_list = []

In [2]:
meals = [['coffee', 'breakfast'], ['soup', 'salad', 'sanwich']]

In [6]:
grades = [3, 9, 2, 1, 'K', 1, 2, 3]

In [7]:
grades[0:3]

[3, 9, 2]

In [8]:
vowels

['a', 'e', 'i', 'o', 'u']

In [9]:
'e' in vowels

True

In [10]:
# strings are immuatable

julia = 'cheese sandwich'
kaylie = julia

In [11]:
print(julia, kaylie)

cheese sandwich cheese sandwich

In [12]:
julia = 'ham sandwich'

In [13]:
print(julia, kaylie)

ham sandwich cheese sandwich

In [15]:
# lists are mutable

julia_list = ['bread', 'cheese', 'bread']
julia_list

['bread', 'cheese', 'bread']

In [16]:
kaylie_list = julia_list

In [17]:
julia_list[1] = 'ham'
julia_list

['bread', 'ham', 'bread']

In [18]:
kaylie_list

['bread', 'ham', 'bread']

In [19]:
# ints are immutable

a = 1
b = a

In [20]:
print(a, b)

1 1

In [21]:
a = 2

In [22]:
print(a, b)

2 1

In [23]:
a = [1 ,2]
b = a

In [24]:
a[1] = 4

In [25]:
a

[1, 4]

In [26]:
b

[1, 4]

In [55]:
combo = ['burger', 'fries', 'drink']
kid_meal = list(combo)

In [56]:
print(id(combo))

4414083200

In [57]:
print(id(kid_meal))

4414309504

In [58]:
combo[1] = 'apple'

In [60]:
combo

['burger', 'apple', 'drink']

In [61]:
kid_meal

['burger', 'fries', 'drink']

In [62]:
kid_meal[1] = 'chips'

In [63]:
kid_meal

['burger', 'chips', 'drink']

In [64]:
print(id(combo))

4414083200

In [65]:
print(id(kid_meal))

4414309504

In [66]:
len(kid_meal)

3

In [67]:
perfect_squares = [1, 4, 9, 16]

In [68]:
max(perfect_squares)

16

In [69]:
sum(perfect_squares)

30

In [77]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
characters = letters + numbers
print(type(characters))

<class 'list'>

In [72]:
"letters" and 'numbers'

'numbers'

In [74]:
letters * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [75]:
letters

['a', 'b', 'c']

In [76]:
numbers

[1, 2, 3]

In [78]:
rainbow = ['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']

In [79]:
rainbow.append('purple')
rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet', 'purple']

In [89]:
rainbow.append(['purple', 'purple', 'purple'])
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 '2',
 '.',
 '3',
 '2.3',
 ['purple', 'purple', 'purple']]

In [90]:
rainbow.extend(['purple', 'purple', 'purple'])
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 '2',
 '.',
 '3',
 '2.3',
 ['purple', 'purple', 'purple'],
 'purple',
 'purple',
 'purple']

In [83]:
rainbow.extend('pale pink')

In [84]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k']

In [86]:
rainbow.extend('2.3')

In [87]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 '2',
 '.',
 '3']

In [88]:
rainbow.extend(['2.3'])
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 '2',
 '.',
 '3',
 '2.3']

In [91]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 '2',
 '.',
 '3',
 '2.3',
 ['purple', 'purple', 'purple'],
 'purple',
 'purple',
 'purple']

In [92]:
rainbow.insert(6, 'indigo')
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 'purple',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 '2',
 '.',
 '3',
 '2.3',
 ['purple', 'purple', 'purple'],
 'purple',
 'purple',
 'purple']

In [93]:
rainbow.remove('purple')
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 '2',
 '.',
 '3',
 '2.3',
 ['purple', 'purple', 'purple'],
 'purple',
 'purple',
 'purple']

In [94]:
del rainbow[-13:]
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e']

In [95]:
rainbow.insert(3, 4)

In [96]:
rainbow

['red',
 'orange',
 'yellow',
 4,
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e']

In [101]:
rainbow.extend([16])

In [102]:
rainbow

['red',
 'orange',
 'yellow',
 4,
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 ['purple', 'purple'],
 ['purple', 'purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 16,
 16]

In [103]:
python = ['1', 5, 8, 9]

In [104]:
python

['1', 5, 8, 9]

In [110]:
#.sort() method modifying in place

fruits = ['pineapple', 'apple', 'kiwi', 'banana']
print(f'The original list is {fruits}')
fruits.sort()  
print(f'The new list is {fruits}')

The original list is ['pineapple', 'apple', 'kiwi', 'banana']
The new list is ['apple', 'banana', 'kiwi', 'pineapple']

In [111]:
# sorted() function return a new list with sorted values

veggies = ['potato', 'celery', 'cabbage', 'bell pepper']
print(f'Output of sorted(): {sorted(veggies)}')
print(f'Original list: {veggies}')

Output of sorted(): ['bell pepper', 'cabbage', 'celery', 'potato']
Original list: ['potato', 'celery', 'cabbage', 'bell pepper']

In [112]:
# Tuples 

# similar to list because they are collections of values
# key difference is that tuples are immutable
# cannot be changed in place once created

mutable_synonyms = ('changeable', 'fluctuating', 'inconstant', 'variable')
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [113]:
empty = ()
type(empty)

tuple

In [114]:
also_empty = tuple()
type(also_empty)

tuple

In [115]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [119]:
mutable_synonyms2= mutable_synonyms + ('modifiable', 'shifting')

In [120]:
mutable_synonyms2

('changeable',
 'fluctuating',
 'inconstant',
 'variable',
 'modifiable',
 'shifting')

In [118]:
mutable_synonyms[1] = 'dog'

TypeError: 'tuple' object does not support item assignment

In [121]:
empty.append('hi')

AttributeError: 'tuple' object has no attribute 'append'

In [122]:
empty2 = empty + ('dog', 'cat')

In [123]:
print(id(empty))

4361408520

In [124]:
print(id(empty2))

4454597760

In [125]:
weekdays = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [126]:
print(id(weekdays))

4419391616

In [127]:
weekdays.append('Saturday')

AttributeError: 'tuple' object has no attribute 'append'

In [128]:
weekdays.extend(('Saturday'))

AttributeError: 'tuple' object has no attribute 'extend'

In [129]:
weekdays

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [130]:
days_of_week = weekdays + ('Saturday', 'Sunday')
days_of_week

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [131]:
weekdays

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [133]:
print(id(days_of_week))

4414113920

In [132]:
print(id(weekdays))

4419391616

In [134]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [135]:
new = list(mutable_synonyms)

In [136]:
print(type(new))

<class 'list'>

In [137]:
new

['changeable', 'fluctuating', 'inconstant', 'variable']

In [138]:
# sets
# unordered and distinct

things = {'coat', 'lock', 'box', 'book', 
          'apple', 'hair', 'xylophone', 'lock', 'book'}
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [139]:
visitor_post_codes = ['M5R', 'M5V', 'M1M', 'M1M', 'M1T']
visitor_post_codes

['M5R', 'M5V', 'M1M', 'M1M', 'M1T']

In [140]:
set(visitor_post_codes)

{'M1M', 'M1T', 'M5R', 'M5V'}

In [151]:
visitor_post_codes

['M5R', 'M5V', 'M1M', 'M1M', 'M1T']

In [142]:
empty_set = set()

mixture = {'zoo',1, 'bird',4, 'bird', 'blue'}
mixture

{1, 4, 'bird', 'blue', 'zoo'}

In [143]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [144]:
'lock' in things

True

In [145]:
things.add('mirror')

In [146]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [147]:
things.add('lock')
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [148]:
things.remove('apple')

In [149]:
things

{'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [150]:
things[1]

TypeError: 'set' object is not subscriptable

In [ ]:
# union combines two sets to get the unique values in oth
# intersection finds the values the two sets have in common
# symmetric difference finds the values that are in only one of the two sets
# difference finds the values in the first set that are not in the second

In [152]:
rainbow = {'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'}
olympic_flag = {'red', 'green', 'yellow', 'blue', 'black'}

In [153]:
print(f'In the rainbow but not the Olympic flag: {rainbow.difference(olympic_flag)}')

In the rainbow but not the Olympic flag: {'orange', 'violet', 'indigo'}

In [154]:
print(f'In the Olympic flag but not the rainbow: {olympic_flag.difference(rainbow)}')

In the Olympic flag but not the rainbow: {'black'}

In [155]:
print(f'Only in one: {rainbow.symmetric_difference(olympic_flag)}')

Only in one: {'violet', 'indigo', 'orange', 'black'}

In [158]:
print(f'Common colours: {olympic_flag.intersection(rainbow)}')

Common colours: {'green', 'yellow', 'red', 'blue'}

In [159]:
print(f'All colours: {olympic_flag.union(rainbow)}')

All colours: {'violet', 'red', 'black', 'blue', 'green', 'yellow', 'orange', 'indigo'}

In [160]:
# dictionaries

capitals = {'Canada': 'Ottawa',
            'United States': 'Washington, D.C.',
            'Mexico': 'Mexico City'
            }
capitals

{'Canada': 'Ottawa',
 'United States': 'Washington, D.C.',
 'Mexico': 'Mexico City'}

In [161]:
print(type(capitals))

<class 'dict'>

In [163]:
olympic_cities = {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [164]:
all_olympics_hosts = {'summer': olympic_cities,
                      'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}
all_olympics_hosts

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [166]:
# preferred way
empty_dictionary = {}

# also works
still_empty = dict()

new_set = set()

In [167]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [169]:
olympic_cities[2020]

'Tokyo'

In [170]:
all_olympics_hosts

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [174]:
all_olympics_hosts['winter'][2018]

'Pyeongchang'

In [175]:
all_olympics_hosts['spring']

KeyError: 'spring'

In [176]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [177]:
olympic_cities[2004]

KeyError: 2004

In [178]:
olympic_cities.get(2004, 'Athens')

'Athens'

In [179]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [182]:
'Tokyo' in olympic_cities

False

In [183]:
olympic_cities[2008] = 'Barcelona'
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London', 2008: 'Barcelona'}

In [184]:
olympic_cities[2008] = 'Beijing'
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London', 2008: 'Beijing'}

In [187]:
all_olympics_hosts['summer'][2008]

'Beijing'

In [188]:
all_olympics_hosts

{'summer': {2020: 'Tokyo',
  2016: 'Rio de Janiero',
  2012: 'London',
  2008: 'Beijing'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [189]:
olympic_cities.values()

dict_values(['Tokyo', 'Rio de Janiero', 'London', 'Beijing'])